<style>
  /* Style pour le conteneur du post-it */

.postit-container {

  position: fixed;
  display: inline-block; /* Affiche les éléments post-it en ligne */
  margin-right: 10px;

}

  /* Style pour l'image du post-it */
  .postit-img {
    width: 200px; /* Ajustement de la largeur */
    height: 200px; /* Ajustement de la hauteur */
    position: absolute; /* Position absolue */
    top: 0; /* Aligner en haut */
    left: 0; /* Aligner à gauche */
    z-index: 1; /* Assurer que l'image est en arrière-plan */
  }

  /* Style pour la zone de texte du post-it */
  .postit-text {
    width: 120px;
    height: 120px;
    position: absolute; /* Position absolue */
    top: 40px; /* Ajustement de la position verticale */
    left: 40px; /* Ajustement de la position horizontale */
    z-index: 2; /* Assurer que le textarea est au-dessus de l'image */
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
  }

  #postitContainer {
  display: flex; /* Utilisation de flexbox */
  flex-wrap: wrap; /* Les éléments passent à la ligne si nécessaire */
}

.poubelle {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 30px;
  margin-top: 10px;
  width: 100px;
  height: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: red;
}

.pos {
  margin-top: 500px;
}

</style>

<%= javascript_include_tag "rails-ujs" %>

<div style="position: fixed; bottom: 15px; right: 15px;">
  <button id="generateButton" class="button" style="vertical-align:middle"><span>Generate </span></button>
</div>

<div>
  <img src="/assets/poubelle.png" class="poubelle">
</div>

<div id="postitContainer" style="overflow: auto;">
  <!-- Conteneur pour les éléments post-it -->
</div>

